#calendar-data, #calendar-header {
  display: table;
  border-spacing: 10px;
  border: 1px solid black;
  text-align: right;
  width: 100%; }

.weekend {
  color: red; }

ul {
  display: table-row; }

li {
  display: table-cell;
  font-size: 2em; }

#calendar {
  float: left; }

#controls {
  text-align: center; }

#prev {
  float: left; }

#next {
  float: right; }

#controls span {
  display: inline-block;
  margin: 5px;
  font-size: 2.5em; }

#prev:hover, #next:hover {
  opacity: 0.5; }

#current-month {
  display: block;
  text-align: center; }

.day-div {
  position: relative;
  padding: 0;
  margin: 0; }

.day-input {
  height: 40px;
  width: 70px;
  margin: 0;
  padding-left: 5%;
  padding-top: 6%;
  font-size: 0.5em;
  text-align: center; }

.day-image {
  position: absolute;
  top: 5%;
  bottom: 80%;
  left: 10%;
  width: 10px;
  height: 10px;
  opacity: 0.3; }

/*# sourceMappingURL=base.css.map */
